*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}

.flexbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

img {
    width: 100%;
    height: auto;
}

.icon {
    max-height: 2em;
    width: auto;
    /* width: fit-content;
    aspect-ratio: 1 / 1; */
}

.logo {
    max-height: 3em;
    width: auto;
}

.icon:hover,
.logo:hover {
    opacity: 0.7;
    cursor: pointer;
}

.btn {
    text-decoration: none;
    color: var(--white);
    background: var(--blueNavy);
    padding: 0.5em 0.75em;
    border-radius: 0.5em;
    display: block;
    max-width: 8em;
    text-align: center;
    /* text-transform: uppercase; */
    transition: background 300ms;
}

.btn p {
    margin-bottom: 0;
}

.btn:not(:last-child) {
    margin-bottom: 0.5em;
}

.btn-link:hover {
    opacity: 0.7;
    text-decoration: underline;
}

.btn:hover {
    opacity: 0.7;
    background: var(--pink);
}

section {
    padding: 4em;
    width: 100%;
}

#drawer-nav {
    position: fixed;
    flex-direction: column;
    padding: 2.5em;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    opacity: 0.9;
    /* filter: blur(4px); */
    height: 100vh;
    min-width: 25vw;
    background-color: white;
}

.drawer-nav-top {
    flex-direction: row;
    justify-content: flex-end;
}

.drawer-nav-items {
    flex-direction: column;
}

.drawer-nav-items a {
    text-decoration: none;
    color: black;
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.drawer-nav-items-sub a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

#main-nav {
    justify-content: space-between;
    align-items: center;
}

.full-page {
    height: 100vh;
}

#landing {
    background-color: var(--yellowMango);
    /* background-image: url(../img/b-line_desktop.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: right;
    background-position-y: bottom; */
}

.landing-content {
    align-items: center;
    height: 100%;
}

#landing .content-left {
    flex: 60% 0 0;
}


/* #landing h1 {
    text-transform: uppercase;
} */

#landing h3 {
    font-size: 1.5em;
}

#landing .btn-container {
    margin-top: 2em;
}

.home-header-container {
    margin-bottom: 1em;
    flex-direction: row;
    text-decoration: none;
    cursor: pointer;
    justify-content: space-between;
}

.home-header-container h2 {
    color: var(--greenForest);
}

.home-header-container img {
    width: 2em;
}

.home-header-container h2:hover,
.home-header-container img:hover {
    opacity: 0.8;
}

#checkin .temp-filler {
    width: 100%;
    height: 70vh;
    background: #ccc;
}

.card-container .card-wrapper:not(:last-child) {
    margin-right: 2em;
}

.card-wrapper {
    text-decoration: none;
    background: var(--yellowMango);
    border-radius: 30px;
    box-shadow: 0 2px 4px 0 rgba( 125, 125, 125, 0.37);
    transition: box-shadow 300ms;
    cursor: pointer;
    display: flex;
    width: 25%;
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card-image-wrapper {
    position: relative;
}

.card-image-wrapper .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.card-image {
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.card-text {
    flex: 1 0 auto;
    color: var(--greenForest);
    padding: 0.5em;
    font-size: 2em;
}

.card-wrapper:hover {
    box-shadow: 0 2px 4px 2px rgba( 125, 125, 125, 0.5);
}

.card-wrapper:hover .btn {
    display: block;
}

.card-wrapper:hover .card-image {
    filter: blur(2.5px);
}

.card-wrapper:hover .card-image-overlay {
    background: var(--yellowMango);
    width: 100%;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

footer {
    background: var(--yellowMango);
    margin-top: 2em;
}

.footer,
.footer a {
    text-decoration: none;
    color: var(--greenForest);
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 1em;
}

.footer a:not(:last-child) {
    border-right: 2px solid var(--greenForest);
    padding: 0 0.5em;
}

.footer a:last-child {
    padding-left: 0.5em;
}